/* Style szablonu */

body {
	margin: 0;
	padding: 0;
	font-size: 16px;
	font-family: Arial, sans-serif;
	background-color: black;
	color: #FFFFFF;
}

#page {
	display: table;
	margin: 0 auto;
	border: 2px solid white;
	padding: 25px;
	margin-top: 0px;
	border-radius: 25px;
	text-align: center;
	background-color: black;
	width: 1000px;
}

#header {
	display: table;
	margin: 0 auto;
	border: 2px solid white;
	padding: 25px;
	margin-top: 0px;
	border-radius: 25px;
	text-align: center;
	background-color: black;
	width: 1000px;
}

 .bkgColor {
	background-image: url("../img/photo-car-production.jpg");
    background-color: #000000;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
 }
#login_field
{
	display: table; 
	margin: 0 auto; 
	border: 2px solid white; 
	padding: 20px; 
	margin-top: 100px; 
	border-radius: 25px; 
	text-align: center;
	background-color: black;
}

#header-content {
	position: relative;
	height: 65px;
}

#small_logo {
  width: 65px;
  height: 65px;
  position: absolute;
  left: 0px;
}
#factory_name {
  position: absolute;
  left: 70px;
	color: #FFFFFF;
}
#department_name {
	
	color: #FFFFFF;
}

#userData {
	position: absolute;
	right: 0;
	bottom: 11px;
}

#logout-icon {
	border: 0; 
	vertical-align: middle;
	padding-left: 15px;
	color: #FFFFFF;
}

#login_user
{
  margin-top: 5px;
	color: #FFFFFF;
}
#menu_field
{
display: table;
  margin: 0 auto;
  border: 2px solid white;
  padding-top: 10px;
  padding-left: 25px;
  padding-right: 25px;
  border-radius: 25px;
  text-align: center;
  background-color: black;
}

/* Kontener opakowujący jakąkolwiek zawartość na stronie. Wyznacza użytkowy obszar oraz wypośrodkowuje treść. */
div.content {
	width: 1000px;
	margin: auto;
	height: auto;
}

/* Pozostałe style */

/* Czcionka */
.font18p {
	font-size: 18px !important;
}

.font20p {
	font-size: 20px !important;
}

.font22p {
	font-size: 22px !important;
}

.font24p {
	font-size: 24px !important;
}

.font26p {
	font-size: 26px !important;
}

.font28p {
	font-size: 28px !important;
}

.font32p {
	font-size: 32px !important;
}

.font36p {
	font-size: 36px !important;
}

.font40p {
	font-size: 40px !important;
}

.font44p {
	font-size: 44px !important;
}

.font48p {
	font-size: 48px !important;
}

.font54p {
	font-size: 54px !important;
}

.wideSpacing {
	letter-spacing: 2px;
}
